.livre-container{
    min-width: 240px;
}
.livre-container img{
    width: 100%;
    height:360px ;
    border-radius: 10px;
}

.livre-container img:hover{
    box-shadow: 0 1rem 3rem rgba(255,255,255,.175)!important;
    transition: transform 0.8s;
    transform: scale(1.1);
}
.livre-container{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}