.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

img{
    width: 300px;
    transition: transform 2s ease;
}

.gallery {
  transition: background-color 3s; 
}

.gallery:hover {
  background-color: #e74c3c; 
}

img:hover{
    transform: scale(2) rotate(360deg);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
    transition: transform 2s ease-out, box-shadow 2s ease-out;
}